@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
    margin:0;
}

/*header*/

.header, .footer {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
}

.header h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header .one {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 0 100px;

}

.header .two {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding:100px;
}

.header .image {
    height: auto;
    width:50%;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.header .links {
    display:flex;
    gap: 20px;
}

.header .logo {
    font-size: 34px;
    color:#F9FAF8;
    font-style: italic;
    cursor:pointer;
}

a, .subtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7Eb;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #3882F6;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    font-size:18px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

button:hover {
    background-color: white;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


/*information*/

.info {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info .border {
    border: 5px solid #3882F6;
    border-radius: 12px;
    width:250px;
    height: 250px;
}

.info img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
}

.info .boxes {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.info .box1, .info .box2, .info .box3, .info .box4 {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:250px;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info p {
    text-align: center;
}

